{
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "no-console": 0,
        "no-debugger": 1,
        "no-var": 1,
        "semi": [1, "never"],
        "no-trailing-spaces": 0,
        "eol-last": 0,
        "no-unused-vars": 0,
        "no-underscore-dangle": 0,
        "no-alert": 0,
        "no-lone-blocks": 0,
        "jsx-quotes": 1,
        "no-shadow": ["error", { "allow": ["err", "error"] }]
    }
}
