# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build

# Dependency directories
node_modules
node_source
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# v8-debugger & Xcode
v8-debugger/depot_tools
v8-debugger/v8
v8-debugger/v8_*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
